@charset "UTF-8";

*{margin: 0;padding: 0;}

section{

    margin: 0 auto;

}

.slick-slide img{
    margin: 0 auto;
    width: 100%;
}

.slick-slide{position: relative;}

.slick-slide h3{
    position: absolute;
    top: 40%;left: 50%;
    transform: translate(-150%, -50%);
    transition: 2s cubic-bezier(0.25, 0.1, 0, 1.41);
    background: #fff;
    font-weight: bold;
    font-size: 25px;
    opacity: 0;
}
.slick-slide h3{
    transform: translate(-50%, -50%);
    opacity: 1;
}
.slick-slide h4{
    position: absolute;
    top: 60%;left: 50%;
    transform: translate(-150%, -50%);
    transition: 1s 0.5s;
    /* transition: duration delay; */
    /* transition-delay: 0.5s; */
    transition: transform 2s 0.5s; opacity: 2s 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    background: #fff;
    opacity: 0;
}

.slick-slide.slick-active h4{
    transform: translate(-50%,-50%);
    opacity: 1;
}


.slick .slick-prev{position: absolute;
 left: 50px; top: 50%;
 transform: translateY(-50%);
 z-index: 100;}

.slick .slick-next{position: absolute;
    right:50px; top: 50%;
    transform: translateY(-50%);
    z-index: 100;}